@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Main Styling */
body {
	font-family: 'Barlow', sans-serif;
	color: #1c1f21;
	line-height: 1.5;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

hr {
	border: 1px solid #d9d9d9;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.large {
	font-size: 20px;
}
.small {
	font-size: 12px;
}

.text-main {
	color: #42539d;
}

.text-secondary {
	color: #2fb99e;
}

.text-gray {
	color: #737373;
}

.text-red {
	color: #da414e;
}

.text-pink {
	color: #cb817c;
}

.text-yellow {
	color: #f5bf4f;
}

.bk-gray {
	background: #f9f9f9;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 20px;
}

.btn-light {
	background: #da414e;
	border: 1px solid #da414e;
	color: #fff;
}

.btn-light:hover {
	background: #e16671;
	border: 1px solid #e16671;
	color: #fff;
}

.current {
	text-decoration: underline;
}

.flex {
	display: flex;
}

.p-1 {
	padding: 100px 0;
}

.p-2 {
	padding: 80px 0;
}

.pb-1 {
	padding-bottom: 50px;
}

.mb-1 {
	margin-bottom: 20px;
}

.w-70 {
	width: 70%;
}

.circle {
	color: #fff;
	padding: 5px 15px;
}

.circle-one {
	background: #42539d;
}
.circle-two {
	background: #2fb99e;
}

.circle-three {
	background: #da414e;
}
.circle-four {
	background: #7ebccb;
}
.circle-five {
	background: #53d65b;
}
.circle-six {
	background: #f1c9c7;
}

/* Navbar */
.navbar {
	height: 80px;
}

.navbar .logo a {
	font-weight: 500;
	font-size: 18px;
}

.navbar a {
	color: #1c1f21;
	text-decoration: none;
	font-weight: 500;
}

.navbar a:hover {
	color: #2fb99e;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

/* Header */
.mainheader {
	min-height: 400px;
	padding: 150px 0;
}

.mainheader h1 {
	font-weight: bold;
	line-height: 1.2;
}

.mainheader .flex-content {
	padding-right: 70px;
}

.mainheader p {
	padding-bottom: 10px;
}

/* Features */
#features .flex-content,
#features .flex-content-left,
#features .flex-image {
	flex: 1;
}

#features .flex-content-left {
	padding-right: 30px;
}

#features .flex-content {
	padding-left: 30px;
}

#features .flex-content-left,
#features .flex-content {
	padding-top: 60px;
}

/* Reglas */
#reglas .box {
	background: #fff;
	padding: 40px 30px;
	border-radius: 20px;
	border: 1px solid #ececec;
}

/* Retos */
#retos .flex {
	gap: 20px;
}

#retos .flex-box {
	background: #fff;
	border-radius: 20px;
}

.flex-box-one {
	width: 32%;
}

#retos .tags,
#retos .icons {
	display: flex;
	gap: 10px;
	padding-bottom: 20px;
}

#retos .icons a {
	color: #4d4d4d;
}

#retos .icons a:hover {
	color: #000;
}

#retos .flex-box img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#retos .flex-box-content {
	padding: 10px 20px 20px 20px;
}

.list-retos {
	display: flex;
	gap: 10px;
}

.list-retos a {
	color: #2fb99e;
	font-weight: 500;
}

.list-retos a:hover {
	color: #000;
}

/* Footer */
#mainfooter {
	background: #42539d;
	color: #fff;
	text-align: center;
	padding: 10px;
}
